<head>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="calendar">
    <ul>
      <h1><%= "#{Date::MONTHNAMES[@month.to_i]} #{@year.to_i}" %></h1>
      <form action="next-month" method="post">
        <input type="text" value="<%= @month.to_i %>" name="month">
        <input type="text" value="<%= @next_month.to_i %>" name="next_month">
        <button type="submit" class="button" value="next_month_button">></button>
        <input type="text" value="<%= @year.to_i %>" name="year">
        <input type="text" value="<%= @year.to_i+1 %>" name="next_year">
      </form>
      <% @days.each do |day| %>
        <li>
          <%= day[0] %>
          <%= day[1] %>
          <%# day[2] %>
          <%# day[3] %>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="calendar_input">
    <form action="post-month" method="post">
      <strong><label for="month_input">Month:</label></strong>
      <input type="text" class="form-control" name="month_input"><br>
      <strong><label for="year_input">Year:</label></strong>
      <input type="text" class="form-control" name="year_input"><br>
      <button type="submit" class="button" value="update">Update</button>
    </form>
  </div>
</body>
